{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form, render_field, render_form_row %}

{% block content %}
    <h1>tranxxeno collectanea</h1>
    <!--
    -->
    <form action="/add_item" method="POST" enctype=multipart/form-data>
        <fieldset>
            <legend>Add item to collectanea</legend>
            <div>
                {{ render_field(baseForm.itemType) }}
            </div>
            <div id="note_fieldset" style="display:none">
                {{ noteItemForm.csrf_token }}
                {{ render_field(noteItemForm.noteTitle) }}
                {{ render_field(noteItemForm.noteEntry) }}
                {{ render_field(noteItemForm.noteSource) }}
            </div>
            <div id="concept_fieldset" style="display:none">
                {{ conceptItemForm.csrf_token }}
                {{ render_field(conceptItemForm.conceptTitle) }}
                {{ render_field(conceptItemForm.conceptDescription) }}
            </div>
            <div id="temporality_fieldset" style="display:none">
                {{ temporalityItemForm.csrf_token }}
                {{ render_field(temporalityItemForm.temporalityTitle) }}
                {{ render_field(temporalityItemForm.temporalityDescription) }}
            </div>

            <div id="image_fieldset" style="display:none">
                {{ imageItemForm.csrf_token }}
                {{ render_field(imageItemForm.image) }}
                {{ render_field(imageItemForm.imageDescription) }}
                {{ render_field(imageItemForm.imageSourcePage) }}
                {{ render_field(imageItemForm.imageSourceURL) }}
            </div>
            <div id="video_fieldset" style="display:none">
                {{ videoItemForm.csrf_token }}
                {{ render_field(videoItemForm.video) }}
                {{ render_field(videoItemForm.videoDescription) }}
                {{ render_field(videoItemForm.videoSource) }}
            </div>
            <div id="sound_fieldset" style="display:none">
                {{ soundItemForm.csrf_token }}
                {{ render_field(soundItemForm.sound) }}
                {{ render_field(soundItemForm.soundDescription) }}
                {{ render_field(soundItemForm.soundSource) }}
            </div>
            <div id="file_fieldset" style="display:none">
                {{ fileItemForm.csrf_token }}
                {{ render_field(fileItemForm.fileName) }}
                {{ render_field(fileItemForm.fileDescription) }}
                {{ render_field(fileItemForm.fileSource) }}
            </div>

            <div id="webpage_fieldset" style="display:none">
                {{ webpageItemForm.csrf_token }}
                {{ render_field(webpageItemForm.webpageTitle) }}
                {{ render_field(webpageItemForm.webpageSource) }}
            </div>
            <div id="experiment_fieldset" style="display:none">
                {{ experimentItemForm.csrf_token }}
                {{ render_field(experimentItemForm.experimentTitle) }}
                {{ render_field(experimentItemForm.experimentEntry) }}
                {{ render_field(experimentItemForm.experimentSource) }}
            </div>
            <div id="protocol_fieldset" style="display:none">
                {{ protocolItemForm.csrf_token }}
                {{ render_field(protocolItemForm.protocolTitle) }}
                {{ render_field(protocolItemForm.protocolEntry) }}
                {{ render_field(protocolItemForm.protocolSource) }}
            </div>
            <div id="cycles_fieldset" style="display:none">
                {{ cyclesItemForm.csrf_token }}
                {{ render_field(cyclesItemForm.cyclesDate) }}
                {{ render_field(cyclesItemForm.cyclesMoon) }}
                {{ render_field(cyclesItemForm.cyclesPatches) }}
                {{ render_field(cyclesItemForm.cyclesNotes) }}
            </div>

            <div id="daily_tarot_fieldset" style="display:none">
                {{ dailyTarotItemForm.csrf_token }}
                {{ render_field(dailyTarotItemForm.dailyTarotWork) }}
                {{ render_field(dailyTarotItemForm.dailyTarotRelationships) }}
                {{ render_field(dailyTarotItemForm.dailyTarotCostar) }}
                {{ render_field(dailyTarotItemForm.dailyTarotNotes) }}
            </div>
            <div id="letters_fieldset" style="display:none">
                {{ lettersItemForm.csrf_token }}
                {{ render_field(lettersItemForm.lettersDate) }}
                {{ render_field(lettersItemForm.lettersName) }}
                {{ render_field(lettersItemForm.lettersEmail) }}
                {{ render_field(lettersItemForm.lettersPhone) }}
                {{ render_field(lettersItemForm.lettersAddress) }}
                {{ render_field(lettersItemForm.lettersLetter) }}
                {{ render_field(lettersItemForm.lettersNotes) }}
            </div>


            <fieldset id="ties_fieldset">
                <label class="form-control-label" for="ties">Ties</label>
                <select id='ties_connection' class='form-control' name='ties_connection'>
                {% for tie in ties %}
                    <option value='{{ tie }}'>{{ tie }}</option>
                {% endfor %}
                </select>
                <select id="ties_tokenize" class="form-control" multiple name="ties_items"></select>
            </fieldset>

            <label class="form-control-label" for="tags_tokenize">Tags</label>
            <select id="tags_tokenize" class="form-control" multiple name="tags">

            </select>
            {{ render_field(baseForm.submit) }}
        </fieldset>
    </form>

    <script type=text/javascript>
        // Define this global variable to hold the current fieldset
        var currentFieldset = "";
        var ties = ["isDependentOn", "isConnectedTo", "isResultOf", "hasConcept", "hasTemporality"];


        // Update the form based on select change
        $("#item_type").on("change",function(){
            //Getting Value
            var selValue = $("#item_type").val();
            if (currentFieldset != "") {
                $("#" + currentFieldset).hide();
        }

            // taken from https://stackoverflow.com/questions/3066586/get-string-in-yyyymmdd-format-from-js-date-object/28431880#28431880
            var now = new Date().
  toLocaleString('en-us', {year: 'numeric', month: '2-digit', day: '2-digit'}).
  replace(/(\d+)\/(\d+)\/(\d+)/, '$3-$1-$2');

            if ($("#item_type").val() == "daily_tarot") {
                $("#daily_tarot_tags").val("Next World Tarot, Rider-Waite, Co-Star, tarot");
            } else if ($("#item_type").val() == "cycles") {
                $("#cyclesDate").val(now);
            } else if ($("#item_type").val() == "letters") {
                $("#lettersDate").val(now);
            }


            currentFieldset = selValue + "_fieldset";
            $("#" + currentFieldset).show();

        });

        $("#item_type").val("note").change();
        // Activate the default
        $(document).ready(function() {
            var passedItemType = "{{ passedItemType }}";
            if (passedItemType != '') {
                //$("#item_type").val("{{ passedItemType }}").change();
                $("#item_type").val("{{ passedItemType }}").change();
            } else {
                $("#item_type").val("note").change();
            }

        });

        // Using Tokenize2 to deal with tag autocomplete
        $('#tags_tokenize').tokenize2({
            dataSource: function (term, object) {
                $.ajax('https://collectanea.tranxxenolab.net/autocomplete/tags/' + term, {
                    type: 'GET',
                    //data: { search: term, start: 0 },
                    dataType: 'json',
                    success: function (data) {
                        var $items = [];
                        object.trigger('tokenize:dropdown:clear');
                        $.each(data, function (k, v) {
                            $items.push(v);
                        });
                        object.trigger('tokenize:dropdown:show');
                        object.trigger('tokenize:dropdown:fill', [$items]);
                    }
                });
            }
        });

        // Using Tokenize2 to deal with tag autocomplete
        $('#ties_tokenize').tokenize2({
            dataSource: function (term, object) {
                $.ajax('https://collectanea.tranxxenolab.net/autocomplete/tags/' + term, {
                    type: 'GET',
                    //data: { search: term, start: 0 },
                    dataType: 'json',
                    success: function (data) {
                        var $items = [];
                        object.trigger('tokenize:dropdown:clear');
                        $.each(data, function (k, v) {
                            $items.push(v);
                        });
                        object.trigger('tokenize:dropdown:show');
                        object.trigger('tokenize:dropdown:fill', [$items]);
                    }
                });
            }
        });

    </script>

{% endblock %}
