{% from 'bootstrap/nav.html' import render_nav_item %}
{% from 'bootstrap/utils.html' import render_messages %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {{ bootstrap.load_css() }}
    <style>
        pre {
            background: #ddd;
            padding: 10px;
        }
        h2 {
            margin-top: 20px;
        }
        footer {
            margin: 20px;
        }
        blockquote {
            margin-left: 1em;
            margin-right: 1em;
        }
    </style>
    {{ bootstrap.load_js() }}
    <script src="/static/tokenize2.min.js"></script>
    <link href="/static/tokenize2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {{ render_nav_item('main.index', 'Home', use_li=True) }}
                {{ render_nav_item('main.add_item', 'Add Item', use_li=True) }}
                {{ render_nav_item('main.view_items', 'Notes', use_li=True, item_type="note") }}
                {{ render_nav_item('main.view_items', 'Images', use_li=True, item_type="image") }}
                {{ render_nav_item('main.view_items', 'Videos', use_li=True, item_type="video") }}
                {{ render_nav_item('main.view_items', 'Sounds', use_li=True, item_type="sound") }}
                {{ render_nav_item('main.view_items', 'Files', use_li=True, item_type="file") }}
                {{ render_nav_item('main.view_items', 'Webpages', use_li=True, item_type="webpage") }}
                {{ render_nav_item('main.view_items', 'Experiments', use_li=True, item_type="experiment") }}
                {{ render_nav_item('main.view_items', 'Protocols', use_li=True, item_type="protocol") }}
                {{ render_nav_item('main.view_items', 'Daily Tarot', use_li=True, item_type="daily_tarot") }}
                {{ render_nav_item('main.view_items', 'Cycles', use_li=True, item_type="cycles") }}
                {{ render_nav_item('main.view_items', 'Letters', use_li=True, item_type="letters") }}
                {% if "username" in session %}
                    <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <main class="container">
        {{ render_messages(container=False, dismissible=True) }}
        {% block content %}{% endblock %}
    </main>


    <footer class="text-center text-lg-start bg-light text-muted">
    <!-- Copyright -->
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021--2022 Anti-Copyright:
        <a class="text-reset fw-bold" href="https://tranxxenolab.net/">tranxxenolab.net</a>
      </div>
      <!-- Copyright -->
    </footer>
</body>
</html>
