{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form, render_field, render_form_row %}

{% block content %}
    <h1>tranxxeno collectanea</h1>
    <!--
    -->
    <form action="/edit_item/{{ id_value }}" method="POST" enctype=multipart/form-data>
        <fieldset>
            <legend>Edit item in collectanea</legend>
            <div>
                Edit {{ id_value }}
            </div>
            <div id="edit_fieldset">
                {{ render_form(form) }}
            </div>
            <label class="form-control-label" for="tags_tokenize">Tags</label>
            <select id="tags_tokenize" class="form-control" multiple name="tags">
            </select>

            {{ render_field(baseForm.submit) }}
        </fieldset>
    </form>

    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
    <script type=text/javascript>

        // Define this global variable to hold the current fieldset
        var currentFieldset = "";

        // Activate the default
        $(document).ready(function() {
            $("#item_type").val("note").change();
        });

        // Update the form based on select change
        $("#item_type").on("change",function(){
            //Getting Value
            var selValue = $("#item_type").val();
            if (currentFieldset != "") {
                $("#" + currentFieldset).hide();
            }

            // taken from https://stackoverflow.com/questions/3066586/get-string-in-yyyymmdd-format-from-js-date-object/28431880#28431880
            var now = new Date().
  toLocaleString('en-us', {year: 'numeric', month: '2-digit', day: '2-digit'}).
  replace(/(\d+)\/(\d+)\/(\d+)/, '$3-$1-$2');

            if ($("#item_type").val() == "daily_tarot") {
                $("#daily_tarot_tags").val("Next World Tarot, Rider-Waite, Co-Star, tarot");
            } else if ($("#item_type").val() == "cycles") {
                $("#cyclesDate").val(now);
            }

            currentFieldset = selValue + "_fieldset";
            $("#" + currentFieldset).show();

        });

    $('#tags_tokenize').tokenize2({
    dataSource: function (term, object) {
        $.ajax('https://collectanea.tranxxenolab.net/autocomplete/tags/' + term, {
            type: 'GET',
            //data: { search: term, start: 0 },
            dataType: 'json',
            success: function (data) {
                var $items = [];
                object.trigger('tokenize:dropdown:clear');
                $.each(data, function (k, v) {
                    $items.push(v);
                });
                object.trigger('tokenize:dropdown:show');
                object.trigger('tokenize:dropdown:fill', [$items]);
            }
        });
    }
});

                {% for tag in tags %}
                    $('#tags_tokenize').tokenize2().trigger('tokenize:tokens:add', ['{{ tag }}', '{{ tag }}', true]);
                {% endfor %}



    </script>

{% endblock %}
