{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form, render_field, render_form_row %}

{% block content %}
    <h1>tranxxeno collectanea</h1>
    <!--
    -->
    <p><a href="/view/concept">Concepts</a></p>
    <p><a href="/view/temporality">Temporalities</a></p>
    <p><a href="/view/note">Notes</a></p>
    <p><a href="/view/image">Images</a></p>
    <p><a href="/view/video">Videos</a></p>
    <p><a href="/view/sound">Sounds</a></p>
    <p><a href="/view/file">Files</a></p>
    <p><a href="/view/webpage">Webpages</a></p>
    <p><a href="/view/experiment">Experiments</a></p>
    <p><a href="/view/protocol">Protocols</a></p>
    <p><a href="/view/daily_tarot">Daily Tarot</a></p>
    <p><a href="/view/cycles">Cycles</a></p>
    <p><a href="/view/letters">Letters</a></p>

{% endblock %}
