{% extends 'minimal.html' %}
{% from 'bootstrap/form.html' import render_form, render_field, render_form_row %}

{% block content %}
    <h1>tranxxeno collectanea login</h1>
    <!--
    -->
    <form action="/login" method="POST" enctype=multipart/form-data>
        <fieldset>
            <legend>Login</legend>
            <div id="login">
                {{ loginForm.csrf_token }}
                {{ render_field(loginForm.username) }}
                {{ render_field(loginForm.password) }}
            </div>
            {{ render_field(baseForm.submit) }}
        </fieldset>
    </form>

{% endblock %}
