{% from 'bootstrap/nav.html' import render_nav_item %}
{% from 'bootstrap/utils.html' import render_messages %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {{ bootstrap.load_css() }}
    <style>
        pre {
            background: #ddd;
            padding: 10px;
        }
        h2 {
            margin-top: 20px;
        }
        footer {
            margin: 20px;
        }
        blockquote {
            margin-left: 1em;
            margin-right: 1em;
        }
    </style>
    {{ bootstrap.load_js() }}
    <script src="/static/tokenize2.min.js"></script>
    <link href="/static/tokenize2.min.css" rel="stylesheet" />
</head>
<body>
    <main class="container">
        {{ render_messages(container=False, dismissible=True) }}
        {% block content %}{% endblock %}
    </main>


    <footer class="text-center text-lg-start bg-light text-muted">
    <!-- Copyright -->
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Anti-Copyright:
        <a class="text-reset fw-bold" href="https://tranxxenolab.net/">tranxxenolab.net</a>
      </div>
      <!-- Copyright -->
    </footer>
</body>
</html>
