{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form, render_field, render_form_row %}

{% block content %}
    <h1>Viewing {{ item_type }}</h1>
    <!--
    -->
    {% if category %}
        {% for d in data %}
            <p>
                {% if (item_type == "note") or (item_type=="webpage") or (item_type=="experiment") or (item_type=="protocol") or (item_type=="concept") or (item_type=="temporality") %}
                    <a href="/view/{{ d['_id'] }}">{{ d["title"] }}</a>
                {% else %}
                    {% if item_type == "daily_tarot" %}
                    <p><strong>{{ d["date_submitted"] }}</strong></p>
                    <p>Work: {{ d["work"] }}</p>
                    <p>Relationships: {{ d["relationships"] }}</p>
                    <p>Co-star: {{ d["costar"] }}</p>
                    {% if d["notes"] %}
                    <p>Notes: {{ d["notes"]|markdown }}</p>
                    {% else %}
                    <p>Notes: {{ d["notes"] }}</p>
                    {% endif %}
                    {% endif %}
                    
                    {% if item_type == "cycles" %}
                    <p><strong>{{ d["date_submitted"] }}</strong></p>
                    <p>Moon: {{ d["moon"] }}</p>
                    <p>Patches: {{ d["patches"] }}</p>
                    {% if d["notes"] %}
                    <p>Notes: {{ d["notes"]|markdown }}</p>
                    {% else %}
                    <p>Notes: {{ d["notes"] }}</p>
                    {% endif %}
                    {% endif %}

                    {% if item_type == "letters" %}
                        <p><strong>{{ d["date_submitted"] }}</strong></p>
                        <p>Name: {{ d["name"] }}</p>
                        <p>E-mail: {{ d["email"] }}</p>
                        <p>Phone: {{ d["phone"] }}</p>
                        <p>Address: {{ d["address"] }}</p>
                        {% if d["letter"] %}
                            <p>Letter: {{ d["letter"]|markdown }}</p>
                        {% else %}
                            <p>Letter: {{ d["letter"] }}</p>
                        {% endif %}

                        {% if d["notes"] %}
                            <p>Notes: {{ d["notes"]|markdown }}</p>
                        {% else %}
                            <p>Notes: {{ d["notes"] }}</p>
                        {% endif %}
                    {% endif %}


                    {% if item_type == "image" %}
                    <div class="col-lg-3 col-md-4 col-6">
                        <div>
                            <img class="img-fluid img-thumbnail" src="{{ d["URL"] }}" alt="{{ d["description"] }}" />
                        </div>
                        <div>
                            <p>Description: {{ d["description"]|markdown }}</p>
                            <p>Filename: {{ d["originalFilename"] }}</p>
                            <p>Source: {{ d["source"] }}</p>
                            <p>Source Page: <a href='{{ d["sourcePage"] }}'>{{ d["sourcePage"] }}</a></p>
        
                        </div>
                    </div>
                    {% endif %}
        
                    {% if item_type == "sound" %}
                    <p>
                        <audio controls>
                            <source src='{{ d["URL"] }}' type="audio/mpeg"/>
                        </audio> 
                    </p>
                    <p><a href="{{ d["URL"] }}">{{ d["description"] }}</a></p>
                    <p>Filename: {{ d["originalFilename"] }}</p>
                    <p>Source: {{ d["source"] }}</p>
                    {% endif %}
        
                    {% if item_type == "video" %}
                    <p>
                        <video width="720" height="480" controls>
                            <source src='{{ d["URL"] }}' "video/mp4"/>
                        </video> 
                    </p>
                    <p><a href="{{ d["URL"] }}">{{ d["description"] }}</a></p>
                    <p>Filename: {{ d["originalFilename"] }}</p>
                    <p><a href='{{ d["source"] }}'>Source</a></p>
                    {% endif %}
        
                    {% if item_type == "file" %}
                    <p><a href="{{ d["URL"] }}">{{ d["description"] }}</a></p>
                    <p>Filename: {{ d["originalFilename"] }}</p>
                    <p><a href="{{ d["source"] }}">Source</a></p>
                    {% endif %}

                    <p>Tags: 
                    
                    {% for tag in d["tags"] %}
                        <a href="/tag/{{ tag }}">{{ tag }}</a>,  
                    {% endfor %}
                    </p>
                    <p><a href="/edit_item/{{ d['_id'] }}">Edit</a></p>
                    <hr/>
                {% endif %}
            </p>

        {% endfor %}
    {% else %}
    <div>
        {% for d in data %}
        <div>
            <p><strong>Date modified: {{ d["date_modified"] }}</strong></p>
            <p><strong>Date created: {{ d["date_submitted"] }}</strong></p>
            <p><a href="/edit_item/{{ d['_id'] }}">Edit</a></p>
            {% if item_type == "daily_tarot" %}
            <p>Work: {{ d["work"] }}</p>
            <p>Relationships: {{ d["relationships"] }}</p>
            <p>Co-star: {{ d["costar"] }}</p>
            {% if d["notes"] %}
            <p>Notes: {{ d["notes"]|markdown }}</p>
            {% else %}
            <p>Notes: {{ d["notes"] }}</p>
            {% endif %}
            {% endif %}
            
            {% if item_type == "cycles" %}
            <p>Moon: {{ d["moon"] }}</p>
            <p>Patches: {{ d["patches"] }}</p>
            {% if d["notes"] %}
            <p>Notes: {{ d["notes"]|markdown }}</p>
            {% else %}
            <p>Notes: {{ d["notes"] }}</p>
            {% endif %}
            {% endif %}

            {% if item_type == "image" %}
            <p><img width=500 src="{{ d["URL"] }}" alt="{{ d["description"] }}" /></p>
            <p>Description: {{ d["description"]|markdown }}</p>
            <p>Filename: {{ d["originalFilename"] }}</p>
            <p>Source: {{ d["source"] }}</p>
            <p>Source Page: <a href='{{ d["sourcePage"] }}'>{{ d["sourcePage"] }}</a></p>
            {% endif %}

            {% if item_type == "sound" %}
            <p>
                <audio controls>
                    <source src='{{ d["URL"] }}' type="audio/mpeg"/>
                </audio> 
            </p>
            <p><a href="{{ d["URL"] }}">{{ d["description"] }}</a></p>
            <p>Filename: {{ d["originalFilename"] }}</p>
            <p>Source: {{ d["source"] }}</p>
            {% endif %}

            {% if item_type == "video" %}
            <p>
                <video width="720" height="480" controls>
                    <source src='{{ d["URL"] }}' "video/mp4"/>
                </video> 
            </p>
            <p><a href="{{ d["URL"] }}">{{ d["description"] }}</a></p>
            <p>Filename: {{ d["originalFilename"] }}</p>
            <p><a href='{{ d["source"] }}'>Source</a></p>
            {% endif %}

            {% if item_type == "file" %}
            <p><a href="{{ d["URL"] }}">{{ d["description"] }}</a></p>
            <p>Filename: {{ d["originalFilename"] }}</p>
            <p><a href="{{ d["source"] }}">Source</a></p>
            {% endif %}

            {% if item_type == "note" %}
            <h1>{{ d["title"] }}</h1>
            <div id="entry">{{ d["entry"]|markdown }}</div>
            <p><strong>Source</strong>: {{ d["source"] }}</p>
            {% endif %}

            {% if item_type == "concept" %}
            <p>Title: {{ d["title"] }}</p>
            <p>Description: {{ d["description"]|markdown }}</p>
            <p>Ties: {{ d["ties"] }}</p>
            {% endif %}

            {% if item_type == "temporality" %}
            <p>Title: {{ d["title"] }}</p>
            <p>Description: {{ d["description"]|markdown }}</p>
            <p>Ties: {{ d["ties"] }}</p>
            {% endif %}

            {% if item_type == "experiment" %}
            <h1>{{ d["title"] }}</h1>
            <div id="entry">
                {{ d["entry"]|markdown }}
            </div>
            {% endif %}

            {% if item_type == "protocol" %}
            <h1>{{ d["title"] }}</h1>
            <div id="entry">{{ d["entry"]|markdown }}</div>
            {% endif %}


            {% if item_type == "webpage" %}
            <p>Title: {{ d["title"] }}</p>
            <p>Source: <a href='{{ d["source"] }}'>{{ d["source"] }}</a></p>
            <p><a href="{{ d["URL"] }}">{{ d["URL"] }}</a></p>
            {% endif %}


            {% if item_type == "all" %}
            <p>Docuement: {{ d }}</p>
            {% endif %}


            <p>Tags: 
            
            {% for tag in d["tags"] %}
                <a href="/tag/{{ tag }}">{{ tag }}</a>,  
            {% endfor %}
            </p>


            <p><a href="/edit_item/{{ d['_id'] }}">Edit</a></p>
                    <hr/>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <script type=text/javascript>
    </script>

{% endblock %}
