{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form, render_field, render_form_row %}

{% block content %}
    <h1>Viewing {{ tag_name }}</h1>
    <!--
    -->
    {% for d in data %}
        <p>
            {% if (d['type'] == "note") or (d['type']=="webpage") or (d['type']=="experiment") or (d['type']=="protocol") or (d['type']=="concept") or (d['type']=="temporality") %}
                <a href="/view/{{ d['_id'] }}">{{ d['type'] }}: {{ d["title"] }}</a>
            {% else %}
                {% if d['type'] == "daily_tarot" %}
                    <a href="/view/{{ d['_id'] }}">Daily Tarot: {{ d["date_submitted"] }}</a>
                {% endif %}

                {% if d['type'] == "cycles" %}
                    <a href="/view/{{ d['_id'] }}">Cycles: {{ d["date_submitted"] }}</a>
                {% endif %}

                {% if d['type'] == "letters" %}
                    <a href="/view/{{ d['_id'] }}">Letters: {{ d["name"] }}</a>
                {% endif %}

                {% if (d['type'] == "image") or (d['type'] == "video") or (d['type'] == "sound") or (d['type'] == "file") %}
                    <a href="/view/{{ d['_id'] }}">{{ d['type'] }}: {{ d["description"] }}</a>
                {% endif %}
            {% endif %}

        </p>

        {% endfor %}
    <script type=text/javascript>
    </script>

{% endblock %}
