{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form, render_field, render_form_row %}

{% block content %}
    <h1>Viewing {{ item_type }}</h1>
    <!--
    -->
<div class="container">
<div class="row text-center text-lg-left">
    {% if category %}
        {% for d in data %}
            {% if item_type == "video" %}
            <div class="col-lg-8 col-md-6 col-12">
                <p>
                    <video width="720" height="480" controls>
                        <source src='{{ d["URL"] }}' "video/mp4"/>
                    </video> 
                </p>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <p><a href="{{ d["URL"] }}">{{ d["description"] }}</a></p>
                <p>Filename: {{ d["originalFilename"] }}</p>
                <p><a href='{{ d["source"] }}'>Source</a></p>
                <p>Tags: 
                
                {% for tag in d["tags"] %}
                    <a href="/tag/{{ tag }}">{{ tag }}</a>,  
                {% endfor %}
                </p>

                <p><a href="/edit_item/{{ d['_id'] }}">Edit</a></p>
            </div>
            {% endif %}
        {% endfor %}
    {% else %}
    <div>
        {% for d in data %}
        <div>
            <p><strong>{{ d["date_submitted"] }}</strong></p>

            {% if item_type == "video" %}
                <p>
                    <video width="720" height="480" controls>
                        <source src='{{ d["URL"] }}' "video/mp4"/>
                    </video> 
                </p>
                <p><a href="{{ d["URL"] }}">{{ d["description"] }}</a></p>
                <p>Filename: {{ d["originalFilename"] }}</p>
                <p><a href='{{ d["source"] }}'>Source</a></p>
                <p>Tags: 
                
                {% for tag in d["tags"] %}
                    <a href="/tag/{{ tag }}">{{ tag }}</a>,  
                {% endfor %}
                </p>

            {% endif %}
                <p><a href="/edit_item/{{ d['_id'] }}">Edit</a></p>
        </div>
        {% endfor %}
    </div>
</div>
</div>
    {% endif %}
    <script type=text/javascript>
    </script>

{% endblock %}
