{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form, render_field, render_form_row %}

{% block content %}
    <h1>Viewing {{ item_type }}</h1>
    <!--
    -->
<div class="container">
<div class="row text-center text-lg-left">
    {% if category %}
        {% for d in data %}
            {% if item_type == "image" %}
            <div class="col-lg-3 col-md-4 col-6">
                <div>
                    <img class="img-fluid img-thumbnail" src="{{ d["URL"] }}" alt="{{ d["description"] }}" />
                </div>
                <div>
                    <p>Description: {{ d["description"]|markdown }}</p>
                    <p>Filename: {{ d["originalFilename"] }}</p>
                    <p><a href='{{ d["source"] }}'>Source</a></p>
                    <p><a href='{{ d["sourcePage"] }}'>Source Page</a></p>

            <p>Tags: 
            
            {% for tag in d["tags"] %}
                <a href="/tag/{{ tag }}">{{ tag }}</a>,  
            {% endfor %}
            </p>

                </div>

                <p><a href="/edit_item/{{ d['_id'] }}">Edit</a></p>
            </div>
            {% endif %}
        {% endfor %}
    {% else %}
    <div>
        {% for d in data %}
        <div>
            <p><strong>{{ d["date_submitted"] }}</strong></p>

            {% if item_type == "image" %}
            <p><img width=500 src="{{ d["URL"] }}" alt="{{ d["description"] }}" /></p>
            <p>Description: {{ d["description"]|markdown }}</p>
            <p>Filename: {{ d["originalFilename"] }}</p>
            <p><a href='{{ d["source"] }}'>Source</a></p>
            <p><a href='{{ d["sourcePage"] }}'>Source Page</a></p>
            {% endif %}
            <p>Tags: 
            
            {% for tag in d["tags"] %}
                <a href="/tag/{{ tag }}">{{ tag }}</a>,  
            {% endfor %}
            </p>

        </div>
        {% endfor %}
    </div>
</div>
</div>
    {% endif %}
    <script type=text/javascript>
    </script>

{% endblock %}
